In [71]:
import pandas as p
import numpy as n
import sklearn

In [ ]:
from sklearn.datasets import load_boston
ob=load_boston()

In [73]:
ob.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [74]:
bos=p.DataFrame(ob.data,columns=ob['feature_names'])
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [75]:
bos["TARG"]=ob.target
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARG
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [76]:
bos.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,TARG
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [77]:
bos.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
TARG       0
dtype: int64

In [78]:
from sklearn.model_selection import train_test_split as tsp
Q=bos.drop('TARG',axis=1)
R=bos['TARG']
Q_train, Q_test, R_train, R_test =tsp(Q,R,test_size=0.15,random_state=5)

print(Q_train.shape)
print(Q_test.shape)
print(R_train.shape)
print(R_test.shape)

(430, 13)
(76, 13)
(430,)
(76,)

In [79]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as msr

#Fitting the data
bos_model=LinearRegression()
bos_model.fit(Q_train,R_train)

LinearRegression()

In [80]:
R_train_predict=bos_model.predict(Q_train)
R_train_rms=n.sqrt(msr(R_train,R_train_predict))
print('Performace of the model for the training set\nThe Root Mean Sqaured Error is {}'.format(R_train_rms))

R_test_predict=bos_model.predict(Q_test)
R_test_rms=n.sqrt(msr(R_test,R_test_predict))
print('\nPerformace of the model for the testing set\nThe Root Mean Sqaured Error is {}'.format(R_test_rms))

Performace of the model for the training set
The Root Mean Sqaured Error is 4.710901797319796

Performace of the model for the testing set
The Root Mean Sqaured Error is 4.687543527902972